<h2><br>Esimerkki verkkokauppa</h2>

<div class="logIn">
    <a href="/user"><span class="logInLink" class="material-icons" ngbTooltip="Kirjaudu">person</span></a>
</div>
<div class="shoppingCart">
    <a class="cartLink" href="/cart"><span class="material-icons">shopping_cart</span></a>
</div>
<div>
    <div class="navProducts">
        <span><a class="navBox" href="/storage">TUOTTEET</a></span>
        <span><a class="navBox" href="/user">KÄYTTÄJÄ</a></span>
    </div>
</div>
<router-outlet></router-outlet>